vti_encoding:SR|utf8-nl
vti_author:SR|SOB\\Sindre Blindheim
vti_modifiedby:SR|SOB\\Sindre Blindheim
vti_timelastmodified:TR|02 Jan 2002 15:37:28 -0000
vti_timecreated:TR|07 Dec 2001 19:15:53 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{2678C390-C920-42B4-95E6-81B686738939}
vti_backlinkinfo:VX|NTNUI_TELEMARK/topp.htm NTNUI_TELEMARK/styretverv.htm NTNUI_TELEMARK/linker.htm NTNUI_TELEMARK/hvemervi.htm NTNUI_TELEMARK/terminliste.htm NTNUI_TELEMARK/main.htm NTNUI_TELEMARK/omgruppa.htm NTNUI_TELEMARK/bilder.htm NTNUI_TELEMARK/sistenytt.htm NTNUI_TELEMARK/topp2.htm NTNUI_TELEMARK/meny.htm NTNUI_TELEMARK/treninger.htm NTNUI_TELEMARK/historie.htm
vti_nexttolasttimemodified:TW|15 Dec 2001 17:24:50 -0000
vti_cacheddtm:TX|02 Jan 2002 15:37:28 -0000
vti_filesize:IR|328
