vti_encoding:SR|utf8-nl
vti_author:SR|SOB\\Sindre Blindheim
vti_modifiedby:SR|SOB\\Sindre Blindheim
vti_timelastmodified:TR|02 Jan 2002 15:29:50 -0000
vti_timecreated:TR|15 Dec 2001 18:11:20 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{64AA60EA-C19F-46F6-BFA0-6FEA5BE6D2D4}
vti_backlinkinfo:VX|NTNUI_TELEMARK/lurken.htm NTNUI_TELEMARK/bottom.htm NTNUI_TELEMARK/hoved.htm NTNUI_TELEMARK/skifestivalen.htm
vti_nexttolasttimemodified:TW|17 Dec 2001 11:02:52 -0000
vti_cacheddtm:TX|02 Jan 2002 15:29:50 -0000
vti_filesize:IR|315
