body
{
	color:#FFFFFF;
}
a:link
{
	color: #FFFFFF;
}
a:visited
{
	color: #FFFFFF;
} 
a:active 
{
	color: #FFFFFF;
}
a:hover
{
	color: #FFCCCC;
	
}
a
{
	font-size:8pt;
	text-decoration:none; 
	font-weight:bold; 
	font-family:Arial; 
	color:#FFFFFF;
}